.card-div {
    display: inline-flex;
}

.card-box {
    width: 15vw;
    height: 8vh;
    margin-inline-start: 7.7vw;
    flex-grow: 1;
}

.card-box a img{
    height: 36vh;
    width: 15vw;
    max-width: 15vw;
    min-height: 15vh;
    border-radius: 10px 10px 0 0;
    margin-block-start: 12vh;
}

.card-box h5 {
    display: flex;
    height: 85%;
    padding: 7% 2% 0 4%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    justify-content: center !important;
    position: relative;
    z-index: 10;
    top: -9px;
}



